.personContainer {
    font-size: 1.0em;
}

.personHeading {
    align-items: center;
}

.personImage {
    float: left;
    justify-items: left;
}

.personContent {
    float: middle;
    text-align: center;
    font-size: 1.0em;
}