.katContainer {
    font-size: 1.0em;
}

.katHeading {
    align-items: center;
}

.katImage {
    float: left;
    justify-items: left;
}

.katContent {
    float: middle;
    text-align: center;
    font-size: 1.0em;
}